/******************** GENERAL ********************/
body {
	background-color: #fff;
	margin-top: 30px;
}

.container {
	max-width: 1000px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}



/******************** NAVIGATION ********************/


.header {
	margin-bottom: 0;
	border-bottom: 0;
	/*background-color: #e3e5e4;*/
}

.show-image {
width: 50px;
height: 50px;
background: url('../imgs/logo.png');
background-size: cover;
}

.hide-text {
text-indent: 250%; 
white-space: nowrap;
overflow: hidden; 
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
	background-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

.jumbotron {
	padding: 0;
	margin-bottom: 0;
	height: 400px;
	background: url('../imgs/jumbo_camera.jpg');
	background-size: cover;
	border-radius: 0;
	position: relative;
}

@media (max-width: 750px) {

	.container .jumbotron {
		background-image: none;
	}

	.container .jumbotron .jumbotron-text {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}


}


.container .jumbotron,
.container-fluid .jumbotron {
	border-radius: 0;
}

.jumbotron .jumbotron-text {
	width: 70%;
	position: absolute;
	top: 0;
	right: 0;
	color: #2C3E50;
}

.jumbotron .jumbotron-text h1{
	font-family: 'Martel Sans', sans-serif;
	color: #000;
	font-size: ;
	font-weight: 800;
	text-transform: uppercase;
}


.information-bg {
	padding: 15px 0;
	background-color: #f6f6f6;
}

.container .information {
	font-family: 'Martel Sans', sans-serif;
	color: #2C3E50;
}

.content-bg {
	height: 600px;
	background-color: #e3e5e4;
}




/******************** FOOTER ********************/
/*


#footer h4 {
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
}*/
